@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import './color';

.main {
    display: flex;
    height: 100vh;
    font-family: 'Roboto','sans-serif ';
    background-color: $purple;
}

.content-pages {
    padding: 15px;
    min-height: 100vh;
    background-color: #EBEBEE;
}

.title_pages {
    font-size: 25px;
}