@import '@/assets/scss/_main';

.my_card{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: $purple;
    padding: 15px;
    border-radius: 7px;
    color: #fff;
    
    .content{
        display: flex;
        justify-content: space-between;
    }

    
    .top{
        .percentage{
           color: $green; 
        }
    }
     .footer{
       .icon {
           font-size: 70px;
       }
      

       .qtd {
           font-size: 30px;
           margin: 0;

       }
    }
}